.section-contact {
    @include bg-img;
    height: 100vh;
}

.section-contact__box {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-family: $gentium;
    font-size: 2rem;
    color: $color-yellow-2;
    background: rgba(0, 0, 0, 0.7);
    padding: 3rem;
    transition: $transition;

    &:hover {
        transform: $y-scale;
    }

    @include breakpoint(phone) {
        padding: 1rem;
        width: 100%;
        font-size: 1.7rem;
    }
}

.section-contact__text {
    line-height: 1.5;
}

.in__icon {
    width: 3rem;
    height: 3rem;
    transition: 0.4s;
    color: $color-yellow-2;
    transition: $transition;

    &:hover {
        color: $color-white;
    }
}