$color-white: #fff;
$color-yellow-1: #dab33e;
$color-yellow-2: #cc9900;
$color-grey: #4c4c4c;
$color-grey-light: #f5f5f0;
$color-black: #000;
$yeseva: 'yeseva_oneregular';
$lato: 'latoregular';
$gentium: 'gentium_book_basicbold';
$transition: .4s;
$y-scale: translateY(-1.5rem) scale(1.05);
